.projectGalleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /* gap: 90px 0px; */
  max-width: 850px;
  padding-top: 12px;
  padding-bottom: 80px;
  margin-top: 6%;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.singleItem {
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 16px 20px #00000029;
  box-shadow: 0px 16px 20px #00000029;
  height: 450px;
  width: 350px;
  background-image: url("../../assets/images/projBackground.jpg");
  margin-bottom: 8%;
}

.projectTitle {
  color: white;
  text-align: center;
  font-size: 60px;
  word-break: break-all;
  font-family: "Keania One", cursive;
}

.frameworkLogoContainer {
  position: relative;
  top: -8%;
  border-radius: 50%;
  margin-bottom: -10%;
}
.frameworkLogo {
  height: 70px;
  font-family: "Libre Baskerville", serif;
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 60%;
  /* position: relative;
  bottom: -35px; */
}
.logo {
  height: 40px;
  -webkit-transform: scale(100%);
  -ms-transform: scale(100%);
  transform: scale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.logo:hover {
  -webkit-transform: scale(150%);
  -ms-transform: scale(150%);
  transform: scale(150%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.singleItem:hover {
  cursor: pointer;
}

.projectVideoContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  height: 49%;
}

@media (max-width: 1136px) {
  .projectGalleryContainer {
    /* gap: 70px 0px; */
    width: 800px;
    padding-bottom: 63px;
  }
}

@media (max-width: 1020px) {
  .projectGalleryContainer {
    width: 770px;
  }
}

@media (max-width: 992px) {
  .projectVideoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 41%;
    margin-bottom: 12%;
  }
  .HomeContainer {
    max-width: 65%;
  }
  .projectGalleryContainer {
    width: 100%;
    margin-top: 15%;
  }

  .singleItem {
    width: 95%;
    height: 850px;
    border-radius: 100px;
    margin-bottom: 28%;
  }

  .projectTitle {
    font-size: 88px;
    margin-top: -5%;
  }

  .logoContainer {
    margin-bottom: 8%;
  }

  .frameworkLogoContainer {
    top: -9.8%;
    /* margin-bottom: -20%; */
  }

  .frameworkLogo {
    height: 165px;
  }

  .logo {
    height: 90px;
  }
}

@media (max-width: 895px) {
  .singleItem {
    width: 550px;
    height: 750px;
    border-radius: 75px;
  }

  .frameworkLogo {
    height: 125px;
  }

  .frameworkLogoContainer {
    top: -8.8%;
  }

  .logo {
    height: 80px;
  }

  .logoContainer {
    margin-bottom: 5%;
  }
}
@media (max-width: 865px) {
  .singleItem {
    width: 500px;
    height: 750px;
  }
}

@media (max-width: 762px) {
  .singleItem {
    width: 450px;
    height: 700px;
  }
  .logo {
    height: 60px;
  }
}

@media (max-width: 720px) {
  .singleItem {
    width: 65%;
    height: 650px;
    border-radius: 75px;
    margin-bottom: 20%;
  }
  .logo {
    height: 60px;
  }
  .frameworkLogo {
    height: 100px;
  }

  .frameworkLogoContainer {
    top: -7.3%;
  }

  .projectGalleryContainer {
    margin-top: 10%;
  }
}
@media (max-width: 675px) {
  .singleItem {
    width: 60%;
    height: 600px;
    border-radius: 65px;
    margin-bottom: 15%;
  }
  .frameworkLogo {
    height: 83px;
  }

  .frameworkLogoContainer {
    top: -8.3%;
  }

  .projectTitle {
    font-size: 70px;
    margin-top: 1%;
  }
}

@media (max-width: 625px) {
  .singleItem {
    width: 55%;
    height: 550px;
    border-radius: 50px;
    margin-bottom: 15%;
  }

  .logo {
    height: 50px;
  }

  .projectGalleryContainer {
    margin-top: 5%;
  }
}
@media (max-width: 591px) {
  .singleItem {
    width: 52%;
    height: 480px;
  }

  .frameworkLogo {
    height: 80px;
  }

  .logoContainer {
    margin-bottom: 4%;
  }
}

@media (max-width: 554px) {
  .singleItem {
    width: 51%;
    height: 480px;
    margin-bottom: 25%;
  }

  .frameworkLogo {
    height: 80px;
  }
}

@media (max-width: 490px) {
  .singleItem {
    width: 300px;
    height: 410px;
  }

  .frameworkLogo {
    height: 70px;
  }

  .projectTitle {
    font-size: 62px;
  }
  .frameworkLogoContainer {
    top: -8.3%;
  }

  .logo {
    height: 42px;
  }
}

@media (max-width: 460px) {
  .singleItem {
    width: 260px;
    height: 410px;
  }

  .frameworkLogo {
    height: 60px;
  }

  .projectTitle {
    font-size: 58px;
  }
  .frameworkLogoContainer {
    top: -7.3%;
  }

  .logo {
    height: 36px;
  }
  .logoContainer {
    min-width: 70%;
  }
}

@media (max-width: 410px) {
  .singleItem {
    width: 240px;
    height: 390px;
    border-radius: 35px;
  }
}

@media (max-width: 390px) {
  .singleItem {
    width: 210px;
    height: 330px;
  }

  .projectTitle {
    font-size: 50px;
  }

  .logo {
    height: 36px;
  }
  .logoContainer {
    min-width: 75%;
    margin-bottom: -1%;
  }

  .frameworkLogo {
    height: 55px;
  }

  .frameworkLogoContainer {
    top: -8.5%;
  }
}

@media (max-width: 362px) {
  .singleItem {
    width: 190px;
    height: 300px;
    border-radius: 30px;
  }

  .projectTitle {
    font-size: 40px;
  }

  .logo {
    height: 30px;
  }
  .logoContainer {
    margin-bottom: -3%;
  }
}

/* @media (max-height: 100px) {
  .projectGalleryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 850px;
    padding-top: 12px;
    padding-bottom: 80px;
    margin-top: 6%;
    z-index: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .singleItem {
    border-radius: 40px;
    width: 350px;
    height: 360px;
  }

  .projectTitle {
    top: 41px;
    font-size: 60px;
  }

  .frameworkLogoContainer {
    position: relative;
    top: -27%;
    border-radius: 50%;
  }
  .frameworkLogo {
    height: 70px;
    font-family: "Libre Baskerville", serif;
  }

  .logoContainer {
    min-width: 60%;
    bottom: -35px;
  }
  .logo {
    height: 40px;
  }
} */
