.myStackContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 5%;
}

.myStackInnerContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  gap: 10px;
}

.stackLogo {
  height: 60px;
  /* width: 60px; */
  object-fit: scale-down;
}

.singleStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-image: url("../../assets/images/projBackground.jpg");
  padding: 2%;
  border-radius: 20%;
  /* animation: singleStack 0.5s linear 3s 1 forwards; */
}

@keyframes singleStack {
  0% {
    transform: translatey(30);
  }
  40% {
    opacity: 1;
  }
  50% {
    transform: translatey(-50%);
    opacity: 0.75;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px gold, 0 0 10px gold,
      0 0 10px #0ba9ca, 0 0 50px gold;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.stackTitle {
  color: white;
}

@media (max-width: 992px) {
  .stackLogo {
    height: 20px;
    /* width: 60px; */
    object-fit: scale-down;
  }

  .singleStack {
    font-size: 0.3rem;
  }

  .myStackInnerContainer {
    width: 60%;

    gap: 6px;
  }

  .singleStack {
    width: 25px;
  }
}
