.myStackContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 5%;
}

.myStackInnerContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  gap: 10px;
}

.stackLogo {
  height: 60px;
  object-fit: scale-down;
}

.singleStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-image: url("../../assets/images/projBackground.jpg");
  padding: 2%;
  border-radius: 20%;
}

@keyframes singleStack {
  0% {
    transform: translatey(30);
  }
  40% {
    opacity: 1;
  }
  50% {
    transform: translatey(-50%);
    opacity: 0.75;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px gold, 0 0 10px gold,
      0 0 10px #0ba9ca, 0 0 50px gold;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

.stackTitle {
  color: white;
}

@media (max-width: 942px) {
  .stackLogo {
    height: 50px;
    object-fit: scale-down;
  }
}
@media (max-width: 840px) {
  .stackLogo {
    height: 40px;
  }
}

@media (max-width: 780px) {
  .stackLogo {
    height: 32px;
  }
}

@media (max-width: 700px) {
  .stackLogo {
    height: 40px;
  }

  .stackTitle {
    font-size: 0px;
  }

  .singleStack {
    gap: 0px;
  }
}

@media (max-width: 643px) {
  .stackLogo {
    height: 26px;
  }
}

@media (max-width: 550px) {
  .myStackInnerContainer {
    gap: 5px;
  }
}

@media (max-width: 412px) {
  .myStackInnerContainer {
    gap: 3px;
  }
}

@media (max-width: 374px) {
  .stackLogo {
    height: 22px;
  }
}
