.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 120px;
  font-size: 1.6rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: "BioRhyme", serif;
  margin-top: 3%;
  margin-bottom: 3%;
}

.headerInnerWidth {
  -webkit-animation: slideInFromLeft 1.3s ease-in 0s 1 none;
  animation: slideInFromLeft 1.3s ease-in 0s 1 none;
  width: 88.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.logoContainerHeader {
  color: "#6c6e71";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 70px;
}

.headerLogo {
  height: 72px;
  -webkit-animation: rocked 0.9s linear 1.25s 1 none,
    logoRoll 1.2s linear 0s 1 none;
  animation: rocked 0.9s linear 1.25s 1 none, logoRoll 1.2s linear 0s 1 none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 50%;
}

.headerLogo:hover {
  -webkit-transform: scale(150%);
  -ms-transform: scale(150%);
  transform: scale(150%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

@-webkit-keyframes rocked {
  0% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  10% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: translateX(-10);
    transform: translateX(-10);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rocked {
  0% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  10% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  50% {
    -webkit-transform: translateX(-10);
    transform: translateX(-10);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes logoRoll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(3600deg);
    transform: rotate(3600deg);
  }
}

@keyframes logoRoll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(3600deg);
    transform: rotate(3600deg);
  }
}

@media (max-width: 980px) {
  .headerInnerWidth {
    -webkit-animation: slideInFromLeft 0.9s ease-in 0s 1 none;
    animation: slideInFromLeft 0.9s ease-in 0s 1 none;
  }
  .headerLogo {
    -webkit-animation: rocked 0.7s linear 0.85s 1 none,
      logoRoll 0.9s linear 0s 1 none;
    animation: rocked 0.7s linear 0.85s 1 none, logoRoll 0.9s linear 0s 1 none;
  }
}
@media (max-width: 695px) {
  .headerInnerWidth {
    -webkit-animation: slideInFromLeft 0.9s ease-in 0s 1 none;
    animation: slideInFromLeft 0.9s ease-in 0s 1 none;
  }
  .headerLogo {
    -webkit-animation: rocked 0.7s linear 0.8s 1 none,
      logoRoll 0.9s linear 0s 1 none;
    animation: rocked 0.7s linear 0.8s 1 none, logoRoll 0.9s linear 0s 1 none;
  }
  .logoContainerHeader {
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .headerInnerWidth {
    -webkit-animation: slideInFromLeft 0.6s ease-in 0s 1 none;
    animation: slideInFromLeft 0.6s ease-in 0s 1 none;
  }
  .headerLogo {
    -webkit-animation: rocked 0.7s linear 0.55s 1 none,
      logoRoll 0.5s linear 0s 1 none;
    animation: rocked 0.7s linear 0.55s 1 none, logoRoll 0.5s linear 0s 1 none;
  }
}

@media (max-width: 490px) {
  .headerInnerWidth {
    -webkit-animation: slideInFromLeft 0.8s ease-in 0s 1 none;
    animation: slideInFromLeft 0.8s ease-in 0s 1 none;
  }
  .headerLogo {
    height: 35px;
    -webkit-animation: rocked 0.7s linear 0.75s 1 none,
      logoRoll 0.85s linear 0s 1 none;
    animation: rocked 0.7s linear 0.75s 1 none, logoRoll 0.85s linear 0s 1 none;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-radius: 50%;
  }
}

@media (max-width: 442px) {
  .logoContainerHeader {
    gap: 26px;
  }
}

@media (max-width: 390px) {
  .logoContainerHeader {
    gap: 22px;
  }
}

@media (max-width: 355px) {
  .logoContainerHeader {
    gap: 18px;
  }
}
