.headerContainer {
  display: flex;
  justify-content: center;
  height: 120px;
  font-size: 1.6rem;
  flex-shrink: 0;
  font-family: "BioRhyme", serif;
}

.headerInnerWidth {
  animation-name: slideInFromLeft;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
  width: 88.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.logoContainerHeader {
  color: "#6c6e71";
  display: flex;
  gap: 100px;
  align-items: center;
}
.workshopHeader:hover {
  cursor: pointer;
}

.headerLogo {
  height: 42px;
  animation-name: rocked;
  animation-duration: 0.9s;
  animation-delay: 1.25s;
}

@keyframes rocked {
  0% {
    transform: translateX(10);
    transform: rotate(20deg);
  }
  10% {
    transform: translateX(10);
    transform: rotate(20deg);
  }

  50% {
    transform: translateX(-10);
    transform: rotate(-15deg);
  }
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
}
