.popUp {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-image: url("../../assets/images/popUpBackground.jpg");
  object-fit: cover;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
}

.popUp:hover {
  cursor: pointer;
}

.popUpInnerContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}

.upperPopUpContent {
  /* width: 600px;
  height: 350px; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.popUpDescription {
  color: white;
  font-size: 2rem;
  text-align: left;
  align-self: center;
  width: 50%;
}
.popUpTitle {
  font-size: 8rem;
  color: goldenrod;
  font-family: "Righteous", cursive;
}

.playerContainer {
  /* border: goldenrod 4px solid; */
}

@media (max-width: 667px) {
  .popUpImage {
    width: 400px;
  }

  .upperPopUpContent {
    width: 400px;
    height: 350px;
  }

  .popUpInnerContainer {
    width: 400px;
  }
}
