.popUp {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: black;
  background-image: url("../../assets/images/popUpBackground.jpg");
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  -webkit-animation: popdown 0.5s linear 0s 1 forwards;
  animation: popdown 0.5s linear 0s 1 forwards;
}

.X {
  color: goldenrod;
  position: fixed;
  left: 8%;
  top: 3%;
  height: 90px;
  width: 40px;
  object-fit: scale-down;
}

@-webkit-keyframes popdown {
  0% {
    -webkit-transform: translatey(-100%);
    transform: translatey(-100%);
  }
  70% {
    -webkit-transform: translatey(0%);
    transform: translatey(0%);
  }
  85% {
    -webkit-transform: translatey(-3%);
    transform: translatey(-3%);
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}
@keyframes popdown {
  0% {
    -webkit-transform: translatey(-100%);
    transform: translatey(-100%);
  }
  70% {
    -webkit-transform: translatey(0%);
    transform: translatey(0%);
  }
  85% {
    -webkit-transform: translatey(-3%);
    transform: translatey(-3%);
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}

.popUp:hover {
  cursor: pointer;
}

.popUpInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* gap: 20px 20px; */
}

.upperPopUpContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* gap: 60px; */
  margin-bottom: 5%;
}

.popUpDescription {
  color: white;
  font-size: 1.6em;
  text-align: left;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 47%;
  line-height: 33px;
}
.popUpTitle {
  font-size: 8rem;
  color: goldenrod;
  font-family: "Righteous", cursive;
  margin-bottom: 5%;
}

.playerContainer {
  width: 50%;
}

@media (max-width: 1476px) {
  .popUpDescription {
    font-size: 1.4rem;
  }
}

@media (max-width: 1276px) {
  .popUpTitle {
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .popUpDescription {
    font-size: 1.6rem;
    width: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 5%;
  }

  .upperPopUpContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 61%;
  }

  .playerContainer {
    width: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (max-width: 1050px) {
  .upperPopUpContent {
    width: 81%;
  }
}

@media (max-width: 872px) {
  .popUpDescription {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .upperPopUpContent {
    width: 80%;
    gap: 40px;
  }

  .popUpTitle {
    font-size: 6rem;
  }

  .popUpDescription {
    font-size: 1.2rem;
    width: 95%;
  }
}
@media (max-width: 640px) {
  .popUpInnerContainer {
    width: 97%;
  }

  .upperPopUpContent {
    width: 63%;
    /* gap: 22px; */
  }
}

@media (max-width: 500px) {
  .popUpTitle {
    margin-bottom: 5%;
  }

  .popUpDescription {
    font-size: 1.1rem;
    margin-top: 4%;
  }
}

@media (max-width: 450px) {
  .popUpDescription {
    font-size: 1.15rem;
  }

  .popUpTitle {
    font-size: 5rem;
  }
}

@media (max-width: 350px) {
  .popUpDescription {
    font-size: 1rem;
  }
}

@media (max-height: 800px) {
  .popUpDescription {
    font-size: 1rem;
  }

  .popUpTitle {
    font-size: 5rem;
  }

  .upperPopUpContent {
    width: 58%;
    gap: 22px;
  }
}

@media (max-height: 600px) {
  .popUpDescription {
    font-size: 0.7rem;
  }

  .popUpTitle {
    font-size: 4.5rem;
  }

  .upperPopUpContent {
    width: 60%;
    gap: 22px;
  }
}

@media (max-height: 500px) {
  .popUpDescription {
    font-size: 0.7rem;
    line-height: 18px;
  }

  .popUpTitle {
    font-size: 3.5rem;
  }

  .upperPopUpContent {
    width: 30%;
    gap: 20px;
  }
}
