.vertFlexHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.titleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 30px;
  margin-bottom: 5%;
}
.titleInnerFlex {
  direction: rtl;
  color: #de9e1f;
  font-family: "Libre Baskerville", serif;
  -webkit-animation-duration: 2.7s;
  animation-duration: 2.7s;
  -webkit-animation-name: TitleContainer;
  animation-name: TitleContainer;
  padding-bottom: 4%;
  margin-top: 1%;
}

.personalMessage {
  font-size: 30px;
  color: white;
  -webkit-animation: personalMessageOdd 10s;
  animation: personalMessageOdd 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  max-width: 75%;
}

.emptyPersonalMessage {
  font-size: 30px;
  color: white;
  -webkit-animation: personalMessageEven 10s;
  animation: personalMessageEven 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  max-width: 75%;
}
@-webkit-keyframes personalMessageEven {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes personalMessageEven {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes personalMessageOdd {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes personalMessageOdd {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.HomeTitleTextTop {
  color: gold;
  opacity: 0;
  font-family: "Righteous", cursive;
  font-size: 50px;
  overflow: hidden;
  border-right: 0.15em solid gold;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  /* -webkit-animation: typing 10s steps(20, end) infinite,
    blink-caret 0.8s step-end infinite; */
  animation: typing 10s linear infinite;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
    opacity: 1;
    border-right: transparent;
  }

  5% {
    width: 15%;
  }
  25% {
    width: 15%;
  }
  45% {
    width: 98%;
  }
  90% {
    width: 98%;
    opacity: 0;
  }
  99% {
    width: 98%;
    opacity: 1;
  }
  100% {
    width: 100%;

    opacity: 0;
    border-right: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0%;
    opacity: 1;
    border-right: transparent;
  }

  5% {
    width: 15%;
  }
  25% {
    width: 15%;
  }
  45% {
    width: 98%;
  }
  90% {
    width: 98%;
    opacity: 1;
  }
  99% {
    width: 98%;
    opacity: 0;
  }
  100% {
    width: 100%;

    opacity: 0;
    border-right: transparent;
  }
}

.HomeTitleTextBottom {
  color: white;
  font-family: "Righteous", cursive;
  font-size: 40px;
  opacity: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-animation: Bottom;
  animation: Bottom;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes Bottom {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  50% {
    opacity: 0;
    color: rgb(255, 255, 255);
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 1;
  }

  66% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: rgb(255, 255, 255);
  }
  70% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
    color: rgb(255, 255, 255);
  }

  71% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    color: rgb(255, 255, 255);
  }

  76% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  /* 90% {
    opacity: 0;
    color: rgb(255, 255, 255);
  } */
  100% {
    opacity: 0;
  }
}

@keyframes Bottom {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  50% {
    opacity: 0;
    color: rgb(255, 255, 255);
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 1;
  }

  66% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: rgb(255, 255, 255);
  }
  70% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
    color: rgb(255, 255, 255);
  }

  71% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    color: rgb(255, 255, 255);
  }

  76% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  /* 90% {
    opacity: 0;
    color: rgb(255, 255, 255);
  } */
  100% {
    opacity: 0;
  }
}

.HomeTitleOverlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  overflow: hidden;
  direction: ltr;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.HomeContainer {
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.HomeInnerContainer {
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
  -webkit-animation-name: fade;
  animation-name: fade;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /* gap: 100px 0px; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 12px;
  padding-bottom: 78px;
  z-index: 2;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.introHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../../assets/images/bannerBackground.jpg");
  width: 100vw;
  height: 230px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 8%;
}

.introInnerHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  width: 70%;
  max-width: 900px;
  /* gap: 30px; */
}

.profilePic {
  border-radius: 50%;
  height: 170px;
}

.singleItem {
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 16px 20px #00000029;
  box-shadow: 0px 16px 20px #00000029;
  height: 400px;
}

.titleText {
  color: rgb(255, 225, 58);
  font-size: 150px;
  margin-bottom: 3.5%;
  font-family: "Righteous", cursive;
}

.singleItem:hover {
  cursor: pointer;
}

.showProjects {
  opacity: 0;
  -webkit-animation: showProjects;
  animation: showProjects;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.arrowRef {
  visibility: hidden;
  width: 100%;
  height: 30px;
  z-index: -1;
}

.downArrow {
  margin-bottom: 8%;
  opacity: 0;
  height: 80px;
  -webkit-animation: downArrow 1.2s linear 0s infinite none;
  animation: downArrow 1.2s linear 0s infinite none;
  position: relative;
  top: -50px;
}

@-webkit-keyframes downArrow {
  0% {
    top: -70px;
    opacity: 1;
  }

  100% {
    top: -10px;
    opacity: 0;
  }
}

@keyframes downArrow {
  0% {
    top: -70px;
    opacity: 1;
  }

  100% {
    top: -10px;
    opacity: 0;
  }
}

@-webkit-keyframes showProjects {
  0% {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes showProjects {
  0% {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    margin-top: 4%;
  }

  50% {
    opacity: 0;
    margin-top: 4%;
  }

  75% {
    opacity: 0.3;
    margin-top: 0%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 4%;
  }

  50% {
    opacity: 0;
    margin-top: 4%;
  }

  75% {
    opacity: 0.3;
    margin-top: 0%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

@media (max-width: 1251px) {
  .HomeTitleText {
    font-size: 28px;
  }
  .HomeContainer {
    max-width: 899px;
  }

  .titleInnerFlex {
    padding-bottom: 7%;
  }

  .titleText {
    margin-bottom: 7%;
  }

  @-webkit-keyframes downArrow {
    0% {
      top: -30px;
      opacity: 1;
    }

    100% {
      top: 40px;
      opacity: 0;
    }
  }

  @keyframes downArrow {
    0% {
      top: -30px;
      opacity: 1;
    }

    100% {
      top: 40px;
      opacity: 0;
    }
  }
}

@media (max-width: 1136px) {
  .personalMessage {
    font-size: 35px;
  }
  .emptyPersonalMessage {
    font-size: 35px;
  }
  .introInnerHeaderContainer {
    width: 80%;
    /* gap: 14px; */
  }

  .titleText {
    font-size: 130px;
    margin-bottom: 7.5%;
  }
}

@media (max-width: 992px) {
  .introHeaderContainer {
    height: 280px;
  }

  .introInnerHeaderContainer {
    width: 86%;
  }
  .titleText {
    font-size: 10rem;
  }
  .personalMessage {
    font-size: 35px;
  }
  .emptyPersonalMessage {
    font-size: 35px;
  }

  .profilePic {
    height: 195px;
  }
  .HomeTitleText {
    font-size: 20px;
  }

  .HomeContainer {
    max-width: 590px;
  }

  .HomeInnerContainer {
    margin-bottom: 30px;
  }
  .moreIcon {
    width: 23px;
    margin-bottom: 290px;
  }
}

@media (max-width: 850px) {
  .titleText {
    font-size: 8.5rem;
  }
}

@media (max-width: 750px) {
  .titleText {
    font-size: 7rem;
  }
  .profilePic {
    height: 175px;
  }
  .introHeaderContainer {
    height: 310px;
  }

  .introInnerHeaderContainer {
    width: 86%;
  }
  .logoContainerHeader {
    width: 350px;
  }
  .emptyPersonalMessage {
    font-size: 30px;
    max-width: 71%;
  }
  .personalMessage {
    font-size: 30px;
    max-width: 71%;
  }

  .downArrow {
    height: 58px;
  }
  .titleInnerFlex {
    padding-bottom: 14%;
    margin-top: 6%;
  }

  @-webkit-keyframes downArrow {
    0% {
      top: 30px;
      opacity: 1;
    }

    100% {
      top: 90px;
      opacity: 0;
    }
  }

  @keyframes downArrow {
    0% {
      top: 30px;
      opacity: 1;
    }

    100% {
      top: 90px;
      opacity: 0;
    }
  }
}

@media (max-width: 652px) {
  .emptyPersonalMessage {
    font-size: 26px;
  }
  .personalMessage {
    font-size: 26px;
  }

  .titleText {
    margin-bottom: 16%;
    margin-top: 5%;
  }
  .HomeTitleTextTop {
    font-size: 40px;
  }

  .HomeInnerContainer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .HomeContainer {
    max-width: 360px;
  }

  .titleInnerFlex {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (max-width: 631px) {
  .introHeaderContainer {
    height: 244px;
  }
  .profilePic {
    height: 130px;
  }
  .downArrow {
    height: 50px;
  }
  .titleInnerFlex {
    padding-bottom: 18%;
    margin-top: 6%;
  }
}

@media (max-width: 571px) {
  .titleText {
    font-size: 95px;
  }
  .emptyPersonalMessage {
    font-size: 23px;
  }
  .personalMessage {
    font-size: 23px;
  }
  .profilePic {
    height: 110px;
  }

  .introInnerHeaderContainer {
    width: 91%;
  }
  .titleInnerFlex {
    padding-bottom: 18%;
    margin-top: 6%;
  }
}

@media (max-width: 488px) {
  .profilePic {
    height: 101px;
  }
  .introHeaderContainer {
    height: 179px;
  }
  .titleText {
    font-size: 70px;
  }
  .HomeTitleTextTop {
    font-size: 30px;
  }
  .HomeTitleTextBottom {
    font-size: 29px;
  }

  .emptyPersonalMessage {
    font-size: 16px;
  }
  .personalMessage {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .HomeInnerContainer {
    margin-bottom: 30px;
  }
  .titleInnerFlex {
    padding-bottom: 26%;
  }
  .HomeTitleText {
    font-size: 12px;
  }

  .emptyPersonalMessage {
    font-size: 15px;
  }
  .personalMessage {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .HomeTitleTextTop {
    font-size: 27px;
  }
  .HomeTitleTextBottom {
    font-size: 25px;
  }
}

@media (max-width: 378px) {
  .HomeTitleText {
    font-size: 11px;
  }

  .emptyPersonalMessage {
    font-size: 15px;
  }
  .personalMessage {
    font-size: 15px;
  }
}
