.vertFlexHome {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  flex-grow: 1;
}

.titleFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 30px;
  margin-bottom: 5%;
}
.titleInnerFlex {
  direction: rtl;
  color: #de9e1f;
  font-family: "Libre Baskerville", serif;
  animation-duration: 2.7s;
  animation-name: TitleContainer;
  padding-bottom: 4%;
  margin-top: 2%;
}

.personalMessage {
  font-size: 40px;
  color: white;
  animation: personalMessageOdd 7.5s;
  animation-iteration-count: infinite;
  min-width: 30vw;
}

.emptyPersonalMessage {
  font-size: 40px;
  color: white;
  animation: personalMessageEven 7.5s;
  animation-iteration-count: infinite;
  min-width: 30vw;
}
@keyframes personalMessageEven {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes personalMessageOdd {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.HomeTitleText {
  color: gold;
  opacity: 0;
  font-family: "Righteous", cursive;
  font-size: 40px;
  overflow: hidden;
  border-right: 0.15em solid gold;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 14s steps(30, end) infinite,
    blink-caret 0.8s step-end infinite;
  animation-delay: 2.5s;
}

.HomeTitleOverlay {
  position: relative;
  display: flex;
  z-index: -1;
  overflow: hidden;
  direction: ltr;
}

.HomeContainer {
  animation-duration: 2.6s;
  animation-name: fade;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 1s;
}

.HomeInnerContainer {
  animation-duration: 2.6s;
  animation-name: fade;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px 0px;
  width: fit-content;
  /* max-width: 700px; */
  padding-top: 12px;
  padding-bottom: 78px;
  z-index: 2;
  flex-direction: row-reverse;
}

.introHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/bannerBackground.jpg");
  width: 100vw;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-bottom: 8%;
}

.introInnerHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 22px;
}

.profilePic {
  /* background-color: black; */
  border-radius: 50%;
  height: 210px;
}

.singleItem {
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 20px #00000029;
  height: 400px;
}

.projectTitle {
  color: white;
  text-align: center;
  position: relative;
  top: 12%;
  font-size: 20px;
}

.titleText {
  color: rgb(255, 225, 58);
  font-size: 150px;
  margin-bottom: 3.5%;
  font-family: "Righteous", cursive;
}

.singleItem:hover {
  cursor: pointer;
}

.showProjects {
  opacity: 0;
  animation: showProjects;
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}

.downArrow {
  margin-bottom: 8%;
  opacity: 0;
  height: 80px;
  animation: downArrow 1.2s linear 0s infinite none;
  position: relative;
  top: -50px;
}

@keyframes downArrow {
  0% {
    top: -70px;
    opacity: 1;
  }
  /* 50% {
    opacity: 0.7;
  } */
  /* 90% {
    opacity: 0.095;
  } */
  100% {
    top: -10px;
    opacity: 0;
  }
}

@keyframes showProjects {
  0% {
    transform: scale(0%);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 4%;
    /* margin-bottom: 0%; */
  }

  50% {
    opacity: 0;
    margin-top: 4%;
    /* margin-bottom: 0%; */
  }

  75% {
    opacity: 0.3;
    margin-top: 0%;
    /* margin-bottom: 4%; */
  }
  100% {
    opacity: 1;
    margin-top: 0%;
    /* margin-bottom: 4%; */
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }

  5% {
    width: 8%;
  }

  25% {
    width: 8%;
  }

  45% {
    width: 42%;
  }
  65% {
    width: 42%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  0% {
    opacity: 1;

    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* @media (max-width: 1251px) {

} */

@media (max-width: 1251px) {
  .HomeTitleText {
    font-size: 28px;
  }
  .HomeContainer {
    max-width: 899px;
  }

  .titleInnerFlex {
    padding-bottom: 7%;
    /* animation: downArrowMedia 1.2s linear 0s infinite none; */
  }

  .titleText {
    margin-bottom: 10%;
  }

  @keyframes downArrow {
    0% {
      top: -30px;
      opacity: 1;
    }

    100% {
      top: 40px;
      opacity: 0;
    }
  }
}

@media (max-width: 1136px) {
  .personalMessage {
    font-size: 35px;
  }
  .emptyPersonalMessage {
    font-size: 35px;
  }
  .introInnerHeaderContainer {
    width: 80%;
    gap: 14px;
  }

  .titleText {
    font-size: 130px;
    margin-bottom: 7.5%;
  }
}

/* 
@keyframes typing {
  0% {
    width: 0%;
  }

  5% {
    width: 6%;
  }

  25% {
    width: 6%;
  }

  45% {
    width: 38%;
  }
  65% {
    width: 38%;
  }

  100% {
    width: 87%;
  }
} */

@media (max-width: 992px) {
  .titleText {
    font-size: 106px;
  }
  .personalMessage {
    font-size: 28px;
  }
  .emptyPersonalMessage {
    font-size: 28px;
  }

  .profilePic {
    height: 165px;
  }
  .HomeTitleText {
    font-size: 20px;
  }

  @keyframes typing {
    0% {
      width: 0%;
    }

    5% {
      width: 8%;
    }

    25% {
      width: 8%;
    }

    45% {
      width: 41%;
    }
    65% {
      width: 41%;
    }

    100% {
      width: 96%;
    }
  }
  .HomeContainer {
    max-width: 590px;
  }

  .HomeInnerContainerLessThanThree {
    max-width: 790px;
  }
}

@media (max-width: 993px) {
  .HomeInnerContainer {
    margin-bottom: 30px;
  }
  .moreIcon {
    width: 23px;
    margin-bottom: 290px;
  }
}

@media (max-width: 750px) {
  .titleText {
    font-size: 86px;
  }
  .introInnerHeaderContainer {
    width: 80%;
    gap: 14px;
  }
  .logoContainerHeader {
    width: 350px;
  }
  .emptyPersonalMessage {
    font-size: 23px;
  }
  .personalMessage {
    font-size: 23px;
  }
  .profilePic {
    height: 160px;
  }
  .downArrow {
    height: 58px;
  }
  .titleInnerFlex {
    padding-bottom: 14%;
    margin-top: 6%;
  }

  @keyframes downArrow {
    0% {
      top: 30px;
      opacity: 1;
    }

    100% {
      top: 90px;
      opacity: 0;
    }
  }
}

@media (max-width: 652px) {
  .titleText {
    font-size: 65px;
    margin-bottom: 16%;
    margin-top: 5%;
  }
  .HomeTitleText {
    font-size: 16px;
  }

  @keyframes typing {
    0% {
      width: 0%;
    }

    5% {
      width: 8%;
    }

    25% {
      width: 8%;
    }

    45% {
      width: 41%;
    }
    65% {
      width: 41%;
    }
    95% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
  .HomeInnerContainer {
    justify-content: center;
  }

  .HomeContainer {
    max-width: 360px;
  }

  .titleInnerFlex {
    align-self: center;
  }
}

@media (max-width: 631px) {
  .titleText {
    font-size: 64px;
  }
  .emptyPersonalMessage {
    font-size: 20px;
  }
  .personalMessage {
    font-size: 20px;
  }
  .profilePic {
    height: 130px;
  }
  .downArrow {
    height: 50px;
  }
  .titleInnerFlex {
    padding-bottom: 18%;
    margin-top: 6%;
  }
}

@media (max-width: 571px) {
  .titleText {
    font-size: 57px;
  }
  .emptyPersonalMessage {
    font-size: 18px;
  }
  .personalMessage {
    font-size: 18px;
  }
  .profilePic {
    height: 110px;
  }

  .titleInnerFlex {
    padding-bottom: 18%;
    margin-top: 6%;
  }
}

@media (max-width: 483px) {
  .HomeTitleText {
    font-size: 13px;
  }
}
@media (max-width: 430px) {
  .HomeInnerContainer {
    margin-bottom: 30px;
  }

  .HomeTitleText {
    font-size: 12px;
  }

  .emptyPersonalMessage {
    font-size: 16px;
  }
  .personalMessage {
    font-size: 16px;
  }
}

@media (max-width: 378px) {
  .HomeTitleText {
    font-size: 11px;
  }

  .emptyPersonalMessage {
    font-size: 15px;
  }
  .personalMessage {
    font-size: 15px;
  }
}
