.AboutContainer {
  height: 700px;
  width: 900px;
  border-radius: 5%;
  background-color: black;
  margin-bottom: 8%;
  animation: AboutContainer 1.8s linear 0s 1 forwards;
}

@keyframes AboutContainer {
  0% {
    transform: translateX(200%);
  }

  74% {
    transform: translateX(0);
  }
  87% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
