.AboutContainer {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5%;
  background-image: url("../../assets/images/aboutBackground.jpg");
  background-color: black;
  margin-bottom: 8%;
  -webkit-animation: AboutContainer 0.4s linear 0s 1 forwards;
  animation: AboutContainer 0.4s linear 0s 1 forwards;
}

.noShowAbout {
  width: 900px;
  border-radius: 5%;
  opacity: 0;
  margin-bottom: 8%;
}
@-webkit-keyframes AboutContainer {
  0% {
    -webkit-transform: translateX(14%);
    transform: translateX(14%);
    opacity: 0;
  }

  70% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.3;
  }
  87% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes AboutContainer {
  0% {
    -webkit-transform: translateX(14%);
    transform: translateX(14%);
    opacity: 0;
  }

  70% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.3;
  }
  87% {
    -webkit-transform: translateX(0.5%);
    transform: translateX(0.5%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.aboutInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6%;
  width: 90%;
  height: 580px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.aboutSingleItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aboutLogo {
  height: 70px;
  width: 90px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.aboutLogoTitle {
  color: white;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 30px;
  width: 83%;
}

@media (max-width: 1500px) {
  .aboutSingleItem {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    /* gap: 50px; */
  }

  /* .aboutLogo {
    height: 60px;
    width: 60px;
  } */

  /* .aboutLogoTitle {
    font-size: 2.1rem;
  } */
}

@media (max-width: 1208px) {
  .AboutContainer {
    width: 800px;
  }

  .noShowAbout {
    width: 800px;
  }

  .aboutLogoTitle {
    font-size: 1.7rem;
  }
}

@media (max-width: 1065px) {
  .AboutContainer {
    width: 710px;
  }

  .noShowAbout {
    width: 650px;
  }

  .aboutLogoTitle {
    font-size: 2.2rem;
    width: 80%;
  }
}

@media (max-width: 969px) {
  .AboutContainer {
    width: 600px;
    height: 800px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .noShowAbout {
    width: 600px;
    height: 800px;
  }

  .aboutLogoTitle {
    font-size: 1.7rem;
    width: 80%;
  }
  .aboutLogo {
    height: 65px;
  }

  .aboutSingleItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* gap: 30px; */
  }
}

@media (max-width: 830px) {
  .AboutContainer {
    width: 480px;
    height: 690px;
  }
  .aboutInnerContainer {
    width: 93%;
  }

  .aboutLogo {
    height: 53px;
  }

  .noShowAbout {
    width: 480px;
    height: 690px;
  }

  .aboutLogoTitle {
    font-size: 1.35rem;
    width: 75%;
  }
}

@media (max-width: 690px) {
  .AboutContainer {
    width: 395px;
    height: 650px;
  }

  .noShowAbout {
    width: 395px;
    height: 650px;
  }

  .aboutLogoTitle {
    font-size: 1.35rem;
    width: 74%;
  }
  .aboutLogo {
    height: 60px;
    width: 60px;
  }

  .aboutInnerContainer {
    width: 86%;
  }
}

@media (max-width: 570px) {
  .AboutContainer {
    width: 300px;
    /* height: 680px; */
  }

  .noShowAbout {
    width: 300px;
    /* height: 68px; */
  }

  .aboutLogoTitle {
    font-size: 1.25rem;
  }
  .aboutLogo {
    height: 46px;
    width: 50px;
  }

  .aboutInnerContainer {
    width: 85%;
  }
}

@media (max-width: 447px) {
  .AboutContainer {
    width: 270px;
    height: 540px;
  }

  .noShowAbout {
    width: 270px;
    height: 540px;
  }

  .aboutLogoTitle {
    font-size: 0.85rem;
    width: 71%;
  }
}

@media (max-width: 408px) {
  .AboutContainer {
    width: 250px;
    height: 415px;
  }

  .noShowAbout {
    width: 250px;
    height: 415px;
  }

  .aboutSingleItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .aboutLogo {
    height: 40px;
    width: 40px;
  }

  .aboutLogoTitle {
    font-size: 12px;
    max-width: 80%;
  }
}

@media (max-width: 380px) {
  .AboutContainer {
    width: 240px;
    height: 440px;
  }

  .noShowAbout {
    width: 300px;
    height: 440px;
  }

  .aboutLogoTitle {
    font-size: 0.85rem;
  }
}

@media (max-height: 600px) {
  .AboutContainer {
    width: 540px;
    height: 440px;
  }

  .noShowAbout {
    width: 300px;
    height: 440px;
  }

  .aboutLogoTitle {
    font-size: 1.1rem;
  }

  .aboutLogo {
    height: 40px;
  }

  .aboutInnerContainer {
    width: 97%;
  }
}
