.AboutContainer {
  height: 810px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-image: url("../../assets/images/aboutBackground.jpg");
  margin-bottom: 8%;
  animation: AboutContainer 0.8s linear 0s 1 forwards;
}

.noShowAbout {
  height: 870px;
  width: 900px;
  border-radius: 5%;
  /* background-color: transparent; */
  opacity: 0;
  margin-bottom: 8%;
}
@keyframes AboutContainer {
  0% {
    transform: translateX(100%);
  }

  70% {
    transform: translateX(0);
  }
  87% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0);
  }
}

.aboutInnerContainer {
  display: flex;
  flex-direction: column;
  padding: 6%;
  width: 90%;
  gap: 30px;
}
.aboutSingleItem {
  display: flex;
  gap: 60px;
}

.aboutLogo {
  height: 90px;
  width: 90px;
  object-fit: scale-down;
}

.aboutLogoTitle {
  color: white;
  align-self: center;
  font-size: 30px;
}
